@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Hemi-Head";
    src: url("../fonts/Hemi-Head.eot");
    src: url("../fonts/Hemi-Head.eot") format("embedded-opentype"), url("../fonts/Hemi-Head.woff2") format("web-open-font-format2"), url("../fonts/Hemi-Head.woff") format("web-open-font-format"), url("../fonts/Hemi-Head.ttf") format("truetype");
}

.title {
    text-align: center;
    font-size: 72px;
    font-family: "Hemi-Head";
}

.button {
    border: black;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: black;
    font-family: "Roboto";
    display: block;
    width: 20%;
    margin-left: 40%;
    margin-right: 30%;
}