@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Medium.ttf");
}

.title {
    font-family: Hemi Head;
    src: url("../fonts/Hemi-Head.ttf");
    text-align: center;
}

.button {
    border: black;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: black;
    font-family: Roboto;
    display: block;
    width: 20%;
    margin-left: 40%;
    margin-right: 30%;
}
